<div class="banner">
  <%= image_tag("inner page1.jpg", alt: "panel", class: "img-responsive") %>
</div>
<div class="container" style="width: 100%">
  <div class="row">
    <div class="workspace">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="welcome1">
          <ol class="breadcrumb">
            <li><a href="index.html">About</a></li>
            <li class="active">How it works</li>
          </ol>
          <h2>How it works</h2>

          <div class="how-left">
            <div class="steps">
              <%= image_tag("l.png", alt: "l") %>
              <h3>Step 1 - Needy approach Udaarta</h3>
              <p>The person in need of Fund approaches UDAARTA. We have a
                tie up with renowned hospital like Narayana Hrudayalaya/ People
                Tree etc. Patients who cannot afford to pay for the expenses
                approach us with their case for critical health care
                requirements. Our team does a due diligence to understand the
                request and needs.</p>
            </div>
          </div>

          <div class="steps-right">
            <div class="image-right">
              <%= image_tag("chair.png", alt: "chair") %>
            </div>
            <h3>Step 2 - Due - diligence</h3>
            <p>Udaarta Team does the due diligence of the case and the
              panellist endorses the case for funding. Only after the
              endorsement from the Head of the Hospital and Udaarta Panelist
              the case uploaded on the website.</p>
          </div>

          <div class="how-left how-lefttop">
            <div class="steps">
              <div class="image">
                <%= image_tag("pig.png", alt: "pig") %>
              </div>
              <h3>Step 3 - Donation for a cause</h3>
              <p>The case is then open for people to see. Understandwhat
                ithe patient is suffering from, why he needs the funding and how
                much financial help he needs. The donor then chooses the patient
                to donate his/her money to. He also has an option to donate thru
                cheque / online. There are no additional charge Udaarta will
                levy the donor. 100% of the money will be donated towards the
                patients well-being</p>
            </div>
          </div>

          <div class="steps-right">
            <div class="image-rightdollar">
              <%= image_tag("dollar.png", alt: "dollar") %>
            </div>
            <h3>Step 4 - Donor's visibility to funds</h3>
            <p>The donor gets an acknowledgement of his donation and also
              gets to know who all donated for a particular case. The donor
              also gets an update on utilization of the fund: eg: Receipt from
              the hospital.</p>
          </div>

          <div class="how-left how-lefttop">
            <div class="steps">
              <div class="imagep">
                <%= image_tag("p.png", alt: "p") %>
              </div>
              <h3>Step 5 - 80G Certificate Issurance</h3>
              <p>We are in the process of getting the 80G certificate. Once
                we have permission to issue you a 80G certificate we courier the
                certificate to your address.</p>
            </div>
          </div>

          <div class="donations">
            <p>All donations made will go into the UDAARTA account from
              there the donations will be directly passed to the Hospital
              account where the patient is undergoing a treatment.</p>
          </div>
        </div>

      </div>
      <%= render 'pages/rightpanel' %>
    </div>
  </div>
</div>
