    <div class="banner">
      <div class="banner">
        <div class="responsive-slider" data-spy="responsive-slider"
          data-autoplay="true">
          <div class="slides" data-group="slides">
            <ul>
              <li>
                <div class="slide-body" data-group="slide">
                  <%= image_tag("banner.png", alt: "banner", class: "img-responsive") %>

                  <div class="container">
                    <div class="caption" data-animate="slideAppearRightToLeft"
                      data-delay="500" data-length="300">
                      <h2>
                        You have two hands One to help <br>yourself and the
                        second to help others!
                      </h2>
                      <div class="caption sub"
                        data-animate="slideAppearLeftToRight" data-delay="800"
                        data-length="300"></div>
                    </div>

                  </div>
                  <div class="caption img-html5" data-animate="slideAppearLeftToRight" data-delay="200">

                  </div>

                </div>
              </li>
              <li>
                <div class="slide-body" data-group="slide">
                  <%= image_tag("banner.png", alt: "banner", class: "img-responsive") %>
                  <div class="container">
                    <div class="caption" data-animate="slideAppearRightToLeft"
                      data-delay="500" data-length="300">
                      <h2>
                        No one has ever become <br>poor by giving!
                      </h2>

                      <div class="caption sub"
                        data-animate="slideAppearLeftToRight" data-delay="800"
                        data-length="300"></div>
                    </div>
                  </div>
                  <div class="caption img-html5"
                    data-animate="slideAppearLeftToRight" data-delay="200">

                  </div>

                </div>
              </li>
              <li>
                <div class="slide-body" data-group="slide">
                  <%= image_tag("banner.png", alt: "banner", class: "img-responsive") %>
                  <div class="container">
                    <div class="caption" data-animate="slideAppearRightToLeft"
                      data-delay="500" data-length="300">
                      <h2>
                        Deeds of giving are the very <br>foundations of the
                        world!
                      </h2>

                      <div class="caption sub"
                        data-animate="slideAppearLeftToRight" data-delay="800"
                        data-length="300"></div>
                    </div>
                  </div>
                  <div class="caption img-html5"
                    data-animate="slideAppearLeftToRight" data-delay="200">
                  </div>

                </div>
              </li>
              <li>
                <div class="slide-body" data-group="slide">
                  <%= image_tag("banner.png", alt: "banner", class: "img-responsive") %>
                  <div class="container">
                    <div class="caption" data-animate="slideAppearRightToLeft"
                      data-delay="500" data-length="300">
                      <h2>
                        No act of kindness, no matter <br>how small is ever
                        wasted !"
                      </h2>

                      <div class="caption sub"
                        data-animate="slideAppearLeftToRight" data-delay="800"
                        data-length="300"></div>
                    </div>
                  </div>
                  <div class="caption img-html5"
                    data-animate="slideAppearLeftToRight" data-delay="200">
                  </div>

                </div>
              </li>

            </ul>
          </div>
          <a class="slider-control left" href="#" data-jump="prev">
            <%= image_tag("arrow-icons_03.png", alt: "arrow", class: "img-responsive") %>
          </a>
          <a class="slider-control right" href="#" data-jump="next">
            <%= image_tag("arrow-icons_05.png", alt: "arrow", class: "img-responsive") %>
          </a>
          <div class="pages">
            <a class="page" href="#" data-jump-to="1">1</a> <a class="page"
              href="#" data-jump-to="2">2</a> <a class="page" href="#"
              data-jump-to="3">3</a> <a class="page" href="#" data-jump-to="4">4</a>
          </div>
        </div>
      </div>
    </div>

    <div class="join">
      <div class="container" style="width: 100%">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="join"
            style="padding-right: 0px; width: 23%;">
            <div class="join-us">
              <h3>Join Our Team</h3>
              <%= image_tag("Bg-Arrow.png", alt: "arrow") %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
            style="padding: 0px !important";>
            <div class="newsletter">

              <label class="text1">Sign up for a free newsletter </label> <input
                name="name" type="text" value="" placeholder="" class="field1">
              <div class="submission">
                <button type="button">Sign up</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="width: 100%">
      <div class="row">
        <div class="workspace">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="welcome1">
              <div class="aboutus">
                <h2>About Udaarta</h2>
                <p>Someone rightly said, a lot can happen over coffee! When
                  a group of classmates from different walks of life discovered a
                  student's life once again as part of the Executive General
                  Management (Batch 32), a casual conversation over coffee turns
                  into a big idea called Udaarta. A common passion in giving back
                  to the society, spreading happiness and smiles to the needy
                  leads to Udaarta. We were ably supported by our batch mates at
                  IIMB.</p>
                <p>All of us were willing to contribute individually and
                  were keen to get stuff done. At this point in time, it struck
                  to us that we should do something that shall stand the test of
                  times, sustainable and should make us proud for being a part of
                  this noble cause. Lo and behold people took to this idea of
                  creating a trust like a magnet attracting iron fillings and it
                  has been the endeavor of the team to get this going before
                  completing the course.</p>
                <p>Udaarta will be involved in activities to save lives for
                  the needy by helping them connect to donors and identifying
                  cases for supporting education for the needy and deserving./p>

                
                <p>Udaarta is growing under the mentorship of eminent
                  educationists and industry leaders.</p>
              </div>
              <!--aboutus-->

              <div class="vision">
                <h3>Vision</h3>
                <p>We identify and connect people who need financial help
                  and donors who wants to give back to society. Our aim is to
                  make philanthropy a way of Life.</p>
              </div>
              <!--vision-->

              <div class="mission">
                <h3>Mission</h3>
                <p>Our mission is to create an online platform, a one point
                  contact for people needing financial assistance and donors
                  looking for genuine causes/cases to contribute</p>
                <p>Develop a 100% transparent online system which will
                  evolve with technology.</p>
                <p>Aid the donors in making donation effortlessly and
                  provide necessary information to make the right decision.</p>
              </div>
            </div>
          </div>
          <%= render 'pages/rightpanel' %>
        </div>
      </div>
    </div>
  <script>
    var nt_example1 = $('#nt-example1').newsTicker({
      max_rows : 3,
      duration : 4000,
      prevButton : $('#nt-example1-prev'),
      nextButton : $('#nt-example1-next')
    });
  </script>
<style>
.alert
{
  margin-bottom: 0;
}
</style>