<div class="banner">
  <%= image_tag("inner page1.jpg", alt: "panel", class: "img-responsive") %>
</div>
<div class="container" style="width: 100%">
  <div class="row">
    <div class="workspace">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="welcome">
          <ol class="breadcrumb">
            <li><a href="index.html">About</a></li>
            <li class="active">Team</li>
          </ol>
          <h2>Team</h2>
          <p>We are a team of motivated, selfless and determined folks
            set out to make philantorpy a way of life. We come from
            diversified back ground with a unified vision:</p>
          <div class="imagegallery">
            <div class="image-width">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="padding">
                <div class="team-image">
                  <%= image_tag("Rakhi_Sundar.jpg", alt: "Rakhi_Sundar") %>
                </div>
                <!--team-image-->
                <div class="team-name">
                  <p>Rakhi Sundar</p>
                </div>
                <!--team-name-->
              </div>
              <!--col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-->
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="padding">
                <div class="team-image">
                  <%= image_tag("Arvind_Ramkumar.jpg", alt: "Arvind_Ramkumar") %>
                </div>
                <!--team-image-->
                <div class="team-name">
                  <p>Arvind Ram Kumar</p>
                </div>
                <!--team-name-->
              </div>
              <!--col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-->
            </div>
            <!--image-width-->
            <div class="image-width">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="padding">
                <div class="team-image">
                  <%= image_tag("Ganesh_Iyer.jpg", alt: "Ganesh_Iyer") %>
                </div>
                <!--team-image-->
                <div class="team-name">
                  <p>Ganesh Iyer</p>
                </div>
                <!--team-name-->
              </div>
              <!--col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-->
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="padding">
                <div class="team-image">
                  <%= image_tag("srivatsa.jpg", alt: "srivatsa") %>
                </div>
                <!--team-image-->
                <div class="team-name">
                  <p>Srivatsa S</p>
                </div>
                <!--team-name-->
              </div>
              <!--col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-->
            </div>
            <!--image-width-->
          </div>
          <!--imagegallery-->
          <div class="imagegallery">
            <div class="image-width">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="padding">
                <div class="team-image">
                  <%= image_tag("Sunita_Venugopal.jpg", alt: "Sunita_Venugopal") %>
                </div>
                <!--team-image-->
                <div class="team-name">
                  <p>Sunita V</p>
                </div>
                <!--team-name-->
              </div>
              <!--col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-->
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="padding">
                <div class="team-image">
                  <%= image_tag("r.png", alt: "Ramesh") %>
                </div>
                <!--team-image-->
                <div class="team-name">
                  <p>Ramesh</p>
                </div>
                <!--team-name-->
              </div>
              <!--col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-->
            </div>
            <!--image-width-->
            <div class="image-width">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="padding">
                <div class="team-image">
                  <%= image_tag("man.jpg", alt: "Karishma") %>
                </div>
                <!--team-image-->
                <div class="team-name">
                  <p>K Karishma</p>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="padding">
                <div class="team-image">
                  <%= image_tag("Able.jpg", alt: "Able") %>
                </div>
                <div class="team-name">
                  <p>Able A</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render 'pages/rightpanel' %>
    </div>
  </div>
</div>
