<div class="container" style="width: 100%">
  <div class="row">
    <div class="header">
      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <div class="logo">
            <%= link_to root_path do%>
            <%= image_tag("logo.png", alt: "logo", class: "img-responsive") %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <div class="top-menu">
          <ul>
            <li style="color: #dedede">|</li>
            <li>
              <%= image_tag("call.png", alt: "call") %>
              +91 99011 41000
            </li>
            <li style="color: #dedede">|</li>
            <li>
                <%= image_tag("@.png", alt: "call") %>
                <%= link_to "joyofgiving@udaarta.org", "mailto:joyofgiving@udaarta.org" %>
            </li>
            <li style="color: #dedede">|</li>
          </ul>
        </div>
        <div id="top"></div>
        <nav class="mainMenu">
          <label for="toggleMenu" class="menuTitle">Menu</label> <input
            type="checkbox" id="toggleMenu" />
          <ul>
            <!--<li><a href="index.html">HOME</a></li>-->
            <li><%= link_to "ABOUT UDAARTA", root_path %></li>
            <li><%= link_to "HOW IT WORKS", how_it_works_path %></li>
            <li><%= link_to "FAQ", faq_path %></li>
            <!--<li><a href="success stories.html">SUCCESS STORIES</a></li>-->
            <!--<li><a href="partners.html">PARTNERS</a></li>-->
            <li><%= link_to "DONATE", donate_path %></li>
            <li><%= link_to "TEAM", team_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to "PROFILE", edit_user_registration_path %></li>
              <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %>
            <% else %>
              <li><%= link_to "SIGN IN/UP", new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
        <script>
          $(function() {
            toggleChildren();
          })
        </script>
      </div>
    </div>
  </div>
</div>

<!-- Single button -->
<!--div class="btn-group">
  <button style="border: none;" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span style="text-transform: uppercase;"><%#= current_user.name %><span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><%#= link_to "PROFILE", edit_user_registration_path %></li>
    <li><li><%#= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></li>
  </ul>
</div-->