<div class="links">
      <div class="container" style="width: 100%">
        <divclass-"row">
        <div class="workcontent">
          <div class="col-xs-6 col-sm-2 col-md-3 col-lg-3"
            style="padding: 0px !important">
            <div class="resources">
              <h3>About Us</h3>
              <ul>
                <li><%= image_tag("arrow.png", alt: "arrow") %><%= link_to "Overview", root_path %></li>
                <li><%= image_tag("arrow.png", alt: "arrow") %><%= link_to "Advisors", "#" %></li>
                <li><%= image_tag("arrow.png", alt: "arrow") %><%= link_to "Team", team_path %></li>
                <!--<li><img src="images/arrow.png" /><a href="#">Privacy Policy</a></li>-->
                <!--<li><img src="images/arrow.png" /><a href="#">Terms of Reference</a></li>-->
              </ul>
            </div>
            <!--resources-->
          </div>
          <!--col-xs-12 col-sm-12 col-md-4 col-lg-4-->
          <div class="col-xs-6 col-sm-2 col-md-3 col-lg-3"
            style="padding: 0px !important">
            <div class="resources">
              <h3>Get Started</h3>
              <ul>
                <li><%= image_tag("arrow.png", alt: "arrow") %><%= link_to "How It Works", how_it_works_path %></li>
                <!--<li><img src="images/arrow.png" /><a href="success stories.html">Success Stories</a></li>-->
                <li><%= image_tag("arrow.png", alt: "arrow") %><%= link_to "FAQ", faq_path %></li>
                <li><%= image_tag("arrow.png", alt: "arrow") %><%= link_to "Donate", donate_path %></li>
                <!--<li><img src="images/arrow.png" /><a href="partners.html">Partners</a></li>-->
              </ul>
            </div>
            <!--resources-->
          </div>
          <!--col-xs-12 col-sm-12 col-md-4 col-lg-4-->
          <div class="col-xs-6 col-sm-5 col-md-3 col-lg-3 sub-footer"
            style="padding: 0px !important">
            <div class="reach_us">
              <h3>Contact Us</h3>
              <div class="location">
                <%= image_tag("Location.png", alt: "location") %>
                <p>B106, Nagarjuna Green Ridge, 19th Main, 27th Cross, HSR
                  Layout, Bangalore – 560102</p>
              </div>
              <!--location end-->
              <div class="phone">
                <%= image_tag("phone.png", alt: "phone") %>
                <p>Phone : +91 99011 41000</p>
              </div>
              <!--phone end-->
              <div class="e-mail">
                <%= image_tag("mail.png", alt: "mail") %>
                <p>
                  e-mail: <a href="mailto:joyofgiving@udaarta.org">joyofgiving@udaarta.org</a>
                </p>
              </div>
              <!--e-mail-->
            </div>
            <!--reach_us end-->
          </div>
          <!--col-xs-12 col-sm-12 col-md-4 col-lg-4-->
          <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 sub-footer"
            style="padding: 0px !important">
            <div class="social">
              <h3>Stay In Touch</h3>
              <ul>
                <li><a target="_blank"
                  href="https://www.facebook.com/udaarta.org">
                  <%= image_tag("facebook.png", alt: "facebook") %> Follow me on facebook
                </a></li>
                <li><a target="_blank" href="#">
                  <%= image_tag("twitter.png", alt: "twitter") %> Follow me on twitter
                </a></li>
                <li><a target="_blank"
                  href="https://www.linkedin.com/company/udaarta-org">
                  <%= image_tag("linkedin.png", alt: "linkedin") %> Get me on Linked In
                </a></li>
                <!--<li><a target="_blank" href="#"> <img src="images/youtube.png" /> Watch me on youtube</a></li>-->

              </ul>
            </div>
            <!--Social-->
          </div>
          <!--col-xs-12 col-sm-12 col-md-4 col-lg-4-->
        </div>
        <!--row end-->
      </div>
      <!--workcontent-->
    </div>
    <!--container end-->
  </div>